/* ========================
   ETIQUETA BITZER
======================== */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bitzer-label {
  width: 200mm;
  height: 80mm;

  background: white;

  border-radius: 18px;

  padding: 20px;

  box-sizing: border-box;

  display: flex;
  gap: 24px;

  border: #222 1px solid; /*temp*/
}

/* LEFT SIDE */
.bitzer-left-side {
  width: 160px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;
}

.roig-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.roig-logo {
  width: 180px;
}

.roig-info {
  font-size: 13px;
  font-weight: bold;
  color: #168447;
}

.greenpoint-logo {
  width: 180px;
}

.bitzer-brand-logo {
  width: 140px;
}

/* RIGHT SIDE */
.bitzer-right-side {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOPO */
.bitzer-top-infos {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.compressor-main-infos {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info-title {
  font-size: 28px;
  font-weight: bold;
}

.info-value {
  font-size: 28px;
}

/* QRCode */
.qrcode-image {
  width: 120px;
  height: 120px;
}

/* TABELA */
.compressor-table-container {
  width: 100%;
  margin-top: 10px;
}

.compressor-table-horizontal {
  width: 100%;
  table-layout: fixed;

  border-collapse: separate;
  border-spacing: 0;

  border: 4px solid #4a4a4a;
  border-radius: 18px;
  overflow: hidden;

  background: white;
}

.compressor-table-horizontal td {
  border-right: 2px solid #555;
  border-bottom: 2px solid #555;

  text-align: center;
  padding: 6px 4px;
}

.compressor-table-horizontal tr td:last-child {
  border-right: none;
}

.compressor-table-horizontal tr:last-child td {
  border-bottom: none;
}

/* ESPECIFICAÇÕES */
.spec-header td {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  height: 28px;
}

/* UNIDADES */
.spec-unit-row td {
  font-size: 12px;
  font-weight: 700;
  height: 30px;
}

/* VALORES */
.spec-value-row td {
  font-size: 20px;
  font-weight: 800;
  height: 42px;
}