@font-face {
    font-family: 'Satoshi';
    src: url('./fonts/Satoshi-Variable/Satoshi-Variable.ttf') format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Satoshi', sans-serif;
    padding-left: 15vh;
    padding-right: 15vh;
    padding-top: 4vh;
}

.logo-programa {
    width: 75px;
}

/* Containers */
.program-infos {
    display: flex;
    align-items: center;
    gap: 15px;
}

.program-infos-text {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

button {
    font-size:11pt;
    padding: 10px;
    border-radius: 5px;
    border-width: 1px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    gap: 8px; 
    box-shadow: 6px 6px 8px -4px rgba(75, 75, 75, 0.84);
    line-height: 1;
}

button:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 6px 9px 8px -4px rgba(56, 56, 56, 0.84);
}

button.new-btn {
    border-style: none;
    margin-left: 1vh;
    background-color: black;
    color: whitesmoke;
}

button.new-btn:hover {
    background-color: rgb(0, 110, 255);
}

button.btn-select {
    border-color: grey;
    border-width: 0.2px;
}


.container-CTAbuttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-flex;
    flex-direction: column;
}

.dropdown-menu {
    position: absolute;
    margin-top: 1vh;
    top: 110%;
    left: 0;
    border-color: rgb(0, 0, 0);
    border-width: 0.2px;
    background-color: rgba(32, 32, 32, 0.384);
    box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.84);
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: 0.2s;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    transition: all 0.4s ease;
}

.dropdown.open .dropdown-menu {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown.open .dropdown-menu:hover {
    box-shadow: 6px 9px 8px -4px rgba(75, 75, 75, 0.84);
}
.dropdown.open .btn-select {
    transform: scale(1.04);
    /* box-shadow: 6px 9px 8px -4px rgba(0,0,0,0.84); */
}

.new-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.new-menu.open {
    opacity: 1;
    pointer-events: auto;
}

.new-menu.open .new-btn {
    background-color: (0, 110, 255);
}

.new-menu-content {
    padding: 20px;
    background: white;
    border-radius: 8px;
    width: 100vh;
    max-height: 80vh;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;   /* scroll interno */
    transition: 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.new-menu.open .new-menu-content {
    transform: scale(1);
}

.new-menu-actions {
    display: flex;
    width: 100%;
    gap: 15px;
    justify-content: flex-end;
}

.new-create-btn {
    border-color: rgb(0, 0, 0);
    border-width: 0.2px;
}

.new-close-btn {
    border: none;
    background-color: rgba(255, 0, 0, 0.63);
}

.new-close-btn:hover {
    background-color: rgb(255, 0, 0);
    color: whitesmoke;
}

.new-create-btn:hover {
    /* background-color: rgb(0, 255, 13); */
    background-color: rgba(0, 255, 13, 0.63);

    /* color: whitesmoke; */
}

.new-menu-title{
    text-align: center;
    font-size: 35px;
}

.form-compressor {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 25px;
}

.form-group input,
.form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.form-group label {
    font-size: 20px;
}
